h1{
    color: aquamarine;
    text-align: left;
    border-bottom: 1px solid #333333;
    width: 500px;
}

h2{
    color: white;
    text-align: left;
    margin-top: 0%;

}

h4{
    color: aliceblue;
    text-align: center;
    margin-top: 0%;
}

.divTitulo{
    border: 2px solid white;
    width: 1000px;
    display: inline-block;

}

p#descricao{
    color: white;
    text-align: left;
    margin-top: 0%;
}

body{
    background-color: rgb(68, 67, 67);
}

.body{
    /* border: 2px solid white; */
    width: 1200px;
    height: 900px;
    padding: 10px;
    margin: auto;
}

p{
    color: white;
}

.divBarraTop{
    padding: 10px;
    margin: auto;
    width: 1200px;
    border-bottom: 5px solid white;
}


.jogo{
    /* border: 1px solid wheat; */
    width: 500px;
    height: 200px;
    display: inline-block;
}

.tituloJogo{
    /* border: 1px solid wheat; */
    width: 500px;
    height: 20px;
}

.container{
    /* border: 1px solid rgb(5, 221, 52); */
    width: 500px;
    height: 300px;
    display: inline-block;
    margin-left: 50px;
    margin-top: 50px;
}

.capaJogo{
    margin: auto;
    height: 200px;
    width: 500px;
}

.icon{
    width: 30px;
    height: 30px;
}

.iconBotao{
    border: 1px solid white;
    width: 30px;
    height: 30px;
}

